ul.list_2 {
    min-height:20em;
    background: none;
    list-style:none;
}

h2.card-title {
    padding-top:10px;
}

.badge{
    font-size:1em;
    margin: 5px 0 5px 0;
}

.ghost {
    opacity:0.4;
}

.delete_skill {
    margin:auto;
    height:50px;
    //background-color: red;
}

#list2 i {
    opacity: 1;
    cursor: pointer;
    color: #c00;
    font-style: normal;
}